name: Validate HTML & CSS

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Validate HTML and CSS
        uses: anishathalye/proof-html@v2
        with:
          directory: .
          check_html: true
          check_css: true
